#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Black Rectangle (Header Bar) */
.header-bar { /* Added styles for the black rectangle */
  background-color: #ffffff; /* White background */
  color: rgb(20, 46, 195); /* Dark blue text color */
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space between dropdown and title */
  padding: 10px 20px; /* Add spacing inside the header */
  position: relative; /* Position header at the top */
  height: 70px; /* Fixed height for the header */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.body{
  background-color: aliceblue;
  margin: 0;
  
}

#app {
  background-color: white;
}